/* fix the alignment of the element - Matthew */

h1{
    border: 2px dotted blue;
    margin: auto;
    width: 150px;
    
}

#one{
    padding: 50px;
    background-color: lavender;
}

#two{
    width: 160px;
    margin:30px;
    border: 5px dotted blue;
}

#three{
    border: 5px dashed brown;
    margin-right: 200px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: right;
}
#four{
    width: 600px;
    border: 2px solid black;
    margin: auto;
}

img{
    max-width: 600px;
}