#one {
  width: 60%;
  text-align: right;
  background-color: lavender;
}

#two {
  width: 25%;
  border: 5px solid black;
  padding-top: 30px;
  padding-right: 30px;
}

#three {
  border: 5px solid blue;
  /* margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 0px;
     */
  margin: 50px 50px 0px 0px;
}

#four {
  border: 3px solid black;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 0px;
}

#five {
  margin: auto;
  width: 80%;
  border: 5px solid black;
}

img {
  width: 100%;
}

span {
  color: green;
  font-style: italic;
  font-weight: bold;
}
